*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{

    background-color: black;

}

header{

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    border-bottom: solid rgba(255, 255, 255, 0.212) 1px;
    width: 1857px;
    height: 80px;

}

#tituloHeader{

    text-decoration: none;
    position: absolute;
    left: 80px;
    top: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

}

.searchMusic{

    border: none;

}

button{

    padding: 5px;
    border-radius: 5px;
    border: none;

}

.menu a{
    position: relative;
    top: 24px;
    right: 440px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 40px;

}

.menu li{

    list-style: none;

}

/* STOP */
#menuDropdown a{

    display: none;
    position: absolute;
    border-radius: 5px;
    top: 300px;
    padding: 30px;
    background-color: rgb(33, 33, 33);


}

#menuDropdown.showDropdown{

    display: flex;

}

#arrow{

    margin-left: 5px;
}




.arrowRotate{

    transition: 0.3s ease;
    transform: rotate(180deg);

}
/* STOP */



.topMusica{

    display: flex;
    position: relative;
    top: 80px;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.musicas{

    display: flex;

}


.buttonPlay{

    position: absolute;
    text-align: center;
    top: 110px;
    left: 120px;

}

.divisor{

    position: absolute;
    width: 1869px;
    left: -1px;
    top: 300px;
    border: solid rgba(255, 255, 255, 0.198) 1px;

}

.buttonPlay img{

    width: 40px;

}



.weCanGoHome{

    
    background-color: rgb(24, 24, 24);
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    text-align: center;

}

.weCanGoHome img{

    border-radius: 10px;

}

#titleWeCanGoHome{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
    font-weight: 100;

}

.lowTide{

    background-color: rgb(24, 24, 24);
    padding: 15px;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;

}

.lowTide img{

    border-radius: 10px;

}

#titleWeCanGoHome{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;

}

#titlelowTide{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    margin: 10px;

}

.inThisShirt{

    background-color: rgb(24, 24, 24);
    padding: 15px;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;

}

.inThisShirt img{

    border-radius: 10px;

}

#titleInThisShirt{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    margin: 10px;

}


.iLoveOurHome{

    background-color: rgb(24, 24, 24);
    padding: 15px;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;

}

.iLoveOurHome img{

    border-radius: 10px;

}

#titleIloveOurHome{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    margin: 10px;

}

.wishYouTheBest{

    background-color: rgb(24, 24, 24);
    padding: 15px;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;

}

.wishYouTheBest img{

    border-radius: 10px;

}

#titleWishYouTheBest{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    margin: 10px;

}



.youreSomebodyElse{

    background-color: rgb(24, 24, 24);
    padding: 15px;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;

}

#titleYoureSomebodyElse{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    margin: 10px;

}


.losttoitNow{

    background-color: rgb(24, 24, 24);
    padding: 15px;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;

}

#titleLosttoitNow{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    margin: 10px;

}